body {
    background-color: #555b6e;
}

.flex_container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 400px;
    height: 600px;
    background-color: #89b0ae;
}
