body {
    background-color: #78C0E0;
}

.flex_container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 400px;
    height: 600px;
    background-color: #449DD1;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.display{
    display: flex;
    justify-content: center;
}

.output{
    width: 365px;
    height: 140px;
    margin: 10px;
    background-color: black;
}

.input {
    width: 100px;
    height: 100px;
    background-color: #150578;
}